
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 #navcenter{
    height: 100px;
   
   
 } 
 #flip{
    display: flex;
    justify-content: center;
    color:red;
    font-size: 65px;
}
.mainbox{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 90vh;
   flex-direction: column;

}
 #display{
    height: 95px;
    width: 530px;
    border-radius: 20px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  

 }
 #button{
    padding: 12px;
    font-size: 22px;
    border-radius: 15px;
    margin-top: 20px;
    
}
 button:hover{
    background-color: blue;
 }


 